/* margin lateral com auto faz com que o conteudo seja centralizado perante a tela nao tendo problema em expandir ou retrair o navegador*/
body{
    background: #007fc7;
}

#container{
    background: #fff;
    width: 800px;
    margin: 10px auto;
    padding: 10px;
}
/* Modelo Caixa (padding e margin) */
.contend{
    border: 1px solid red;
    /*o padding e o espaçamento interno e contabliza para o width geral
    se eu colocar so padding, ele contabiliza espacamento
    no conteudo de cima, direita, baixo e esquerda ou so
    colocar um espaçamento geral que é igual nos 4 lados
    ou colocar espaçamento geral de cima-baixo esquerda-direita*/
    padding: 20px; 
    /*ja o margin e o espaçamento entre as divs e apesar de colocar
    um espaçamento entre elas, se tiverem o mesmo tamanho elas nao
    se somam e o espaçamento maior sera o aplicado*/
    margin: 10px;
    width: 150px;
}

/* Elementos Flutuantes (float)
serve para colocar os elementos de uma nova forma dentro da pagina
usando a tag float. Usando essa funçao e possivel ordenar certos
conteudos para esquerda ou direita em vez de somente para baixo.
Nota que eles ficam concorrendo pelo mesmo espaço
E usando a tag clear voce remove um elemento de um certo fluxo
podendo ser a direita, esquerda, ambos ou nenhum
Usando uma div no final de um conjunto de divs com uma class que 
tenha clear como tag dentro, ela vai ajeitar o fluxo dessas divs
aninhadas */
.elements{
    background: gray;
    border: 1px solid black;
    width: 200px;
    height: 200px;
    float: right;
}

.clear{
    clear: right;
}

.blocking{
    border: 1px solid red;
    display: block;
}

.inlining{
    border: 1px solid red;
    display: inline;
}

.inlining-block{
    border: 1px solid red;
    display:inline-block;
}

/* por padrao a position: static em todo fluxo dos elementos de uma pagina*/
/*no caso de sobreposição, o z-index pode definir uma hierarquia de exibição dos elementos*/
/*relative posiciona o conteudo ou objeto baseado na posição inicial dele*/
.relative{
    border: 1px solid red;
    position: relative;
    /* manipula-se o relative com top, down, right e left*/
    top: 20px;
    right: 80px;
    z-index: 0;
}
/*absolute posiciona o conteudo ou objeto baseado no conteiner que ele esta, se alinhado com os pixel desse conteiner que nao tenha posiçao padrao */
.absolute{
    border: 1px solid red;
    position: absolute;
    /* manipula-se o relative com top, down, right e left*/
    top: 0px;
    right: 80px;
    z-index: 1;
}

/*fixed posiciona o conteudo ou objeto baseado na sua posição inicial e ao rolar a pagina para baixo, ele continua acompanhado, como se fosse um pop-up*/
.fixed{
    border: 1px solid red;
    position: fixed;
    /* manipula-se o relative com top, down, right e left*/
    top: 0px;
    right: 0px;
    z-index: 2;
}

/*manipular e customizar os links
link se trata de manipular o estado de um link que nao foi clicado e visitado
visited se trata de manipular o estado de um link que foi clicado e visitado
hover se trata de manipular o estado de um link ao passar o mouse por cima
active se trata de manipular o estado de um link ao ser clicado com o mouse*/
a{}
a:link{}
a:visited{}
a:hover{}
a:active{}   